<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springbootmybatis.dao.test2.ClassMapper">
    <!--  一对一   -->
    <!--第一种方式-->
   <select id="getClass" resultMap="ClassResultMap" parameterType="int">
       select * from class c, teacher t where c.teacher_id=t.t_id and c.c_id=#{id}
   </select>
    <resultMap id="ClassResultMap" type="com.demo.springbootmybatis.entity.Classes">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <association property="teacher" javaType="com.demo.springbootmybatis.entity.Teacher">
            <id property="id" column="t_id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>
    <!--第二种方式-->
    <select id="getClass2" parameterType="int" resultMap="ClassResultMap2">
         select * from class where c_id=#{id}
     </select>

    <resultMap id="ClassResultMap2" type="com.demo.springbootmybatis.entity.Classes">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <association property="teacher" column="teacher_id" select="getTeacher"/>
    </resultMap>
    <select id="getTeacher" parameterType="int" resultType="com.demo.springbootmybatis.entity.Teacher">
        SELECT t_id id, t_name name FROM teacher WHERE t_id=#{id}
    </select>
    <!--一对多-->
    <resultMap id="ClassResultMap3" type="com.demo.springbootmybatis.entity.Classes">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <association property="teacher" javaType="com.demo.springbootmybatis.entity.Teacher">
            <id property="id" column="t_id"/>
            <result property="name" column="t_name"/>
        </association>
        <collection property="students" ofType="com.demo.springbootmybatis.entity.Student">
            <id property="id" column="s_id"/>
            <result property="name" column="s_name"/>
        </collection>
    </resultMap>
    <select id="getClass3" parameterType="int" resultMap="ClassResultMap3">
       select * from class c, teacher t,student s where c.teacher_id=t.t_id and c.C_id=s.class_id and  c.c_id=#{id}
    </select>
</mapper>